<div class="section">
	<div class="container" id="distant-supervision-experiment">
		<div class="row">
			<div class="col-lg-8">
				<h1>Doing the Task</h1>
				<h3>Example 2</h3>
				<p>Consider the following sentence and facts:</p>
				<blockquote class="sentence">Zambian President Levy Mwanawasa has admitted the challenge Zambia faces in choosing between the Southern African Development Community (SADC) and the Common Market for Eastern and Southern Africa (COMESA) , according Sunday Mail.</blockquote>
				<div class="row">
					<div class="col-md-6">
						<ol>
							<li><span class="relation-instance"><span class="entity extent-hover" data-range="18-32">Levy Mwanawasa</span> <em>has nationality</em> <span class="entity extent-hover" data-range="0-7">Zambian</span></span></li>
							<li><span class="relation-instance"><span class="entity extent-hover" data-range="18-32">Levy Mwanawasa</span> <em>has nationality</em> <span class="entity extent-hover" data-range="60-66">Zambia</span></span></li>
						</ol>
					</div>
					<div class="col-md-6">
						<span><strong>Tip:</strong> Pattern annotations are optional for this experiment.</span>
					</div>
				</div>	

				<h3>Is the Pattern Bad?</h3>
				<p><strong>Extraction Patterns:</strong> As our system learns, it makes generalizations based upon patterns in the sentences it learns from. If it knows a fact is true between two entities in a sentence, e.g. Levy Mwanawasa and Zambia above, then it will try to figure out what patterns in the sentence make that true. But sometimes those generalizations are bad.</p>
				<p>As you do your annotations, consider if you could infer that a fact was true using the entities listed. In this example, we have the same fact listed twice. The first listing uses the pattern "Zambian President..." to infer that Levy Mwanawasa is Zambian. The second uses "the challenge Zambia..." to infer the same fact. Do you think the pattern used in the second infernence is a good one?</p>
				<p>We would say no. If you took away "Zambian President", you would not know that Levy Mwanawasa was Zambian soley from reading this sentence.</p>

				<p><strong>Note:</strong> Even if a pattern is bad, that does not negate the fact being expressed by a sentence. In this example, both facts are expressed. The first fact used a good pattern, and the second one did not.</p>
				<p>
				<a href="/distant_supervision1/tutorial2" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
				<a href="/distant_supervision1/task" class="btn btn-primary">Begin the Task <span class="glyphicon glyphicon-arrow-right"></span></a></p>
			</div>
		</div>
	</div>
</div>