<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Your Task</h1>
				<p>You are going to help train our system so that it can understand which <strong><em>facts</em></strong> are expressed in English sentences. We are going to present you with a series of sentences and a list of facts that we think might be in that sentence. Your job is to do two things:</p>
				<ol>
					<li>Annotate if the facts are expressed by the sentence.</li>
					<li>Determine if we used a good pattern to find each fact.</li>
				</ol>
				<h2>What to Look For</h2>
				<h3>Types of Facts</h3>
				<p>In this experiment, we are only looking at a few types of facts. All of the facts involve relationships between a person and a place.</p>
				<div class="row">
					<div class="col-md-4">
						<h5 class="underlined">Nationality</h5>
						<p><strong>Definition:</strong> A country that this person is a citizen of. Note: A person can have citizenship in multiple countries.</p>
					</div>
					<div class="col-md-4">
						<h5 class="underlined">Was Born In</h5>
						<p><strong>Definition:</strong> The place that this person was born in. This can be a town, city, state, country, etc.</p>
					</div>
					<div class="col-md-4">
						<h5 class="underlined">Has Lived In</h5>
						<p><strong>Definition:</strong> A place that this person has lived in. Much like "Was born in", this can be a town, city, state, country, etc.</p>
					</div>
				</div>
				<p><a href="/distant_supervision1/tutorial-2" class="btn btn-primary">Doing the Task</a></p>
			</div>
		</div>
	</div>
</div>