<div class="section">
	<div class="container" id="distant-supervision-experiment">
		<div class="row">
			<div class="col-lg-8">
				<h1>Examples</h1>
				<h3>Example 1</h3>
				<p>Consider the following sentence and fact:</p>
				<blockquote class="sentence">Bill Clinton, former U.S. President, spoke at a conference on national debt last week.</blockquote>
				<div class="row">
					<div class="col-md-6">
					<ol>
						<li><span class="relation-instance"><span class="entity extent-hover" data-range="0-12">Bill Clinton</span> <em>has nationality</em> <span class="entity extent-hover" data-range="21-25">U.S.</span></span></li>
					</ol>
					</div>
					<div class="col-md-6">
					<p><strong>Tip:</strong> Hover over the entities to see where they are located in the sentence. Sometimes there are multiple entities that look the same but are in different spots.</p>
					</div>
				</div>
				<h3>Is the fact expressed?</h3>
				<p><strong>Definition of Expressed:</strong> We say a fact is expressed by a sentence if you can infer that fact without any prior knowledge about the entities involved. After reading the above sentence, could you infer that <span class="relation-instance">Bill Clinton <em>has nationality</em> U.S.</span>?</p>
				<p>We say that this sentence does express that fact. Since the sentence says that Bill Clinton was a former U.S. president, we can infer that he must be a citizen of the United States and therefore has a nationality of United States.</p>
				<p><strong>Note:</strong> While you might not normally say someone's nationality is 'United States' and instead say 'American', for our purposes we consider these to be the same thing. Don't use grammar technicalities as a reason to disqualify a fact from being true.</p>

			<p><a href="/distant_supervision1/tutorial1" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
			<a href="/distant_supervision1/tutorial3/" class="btn btn-primary">Next Step <span class="glyphicon glyphicon-arrow-right"></span></a></p>
			</div>
		</div>
	</div>
</div>