<% if errors.any? %>
  <div id="error_explanation" class="alert bg-danger">
    <div>
      Your submission contains <%= pluralize(errors.count, "error") %>:
    </div>
    <ul>
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>